<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404'd! - sakisafe@ichoria★org</title>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <h1>
    <span class="pink">ichoria</span>
    <span class="yellow">★</span>
    <span class="ltpurple">sakisafe</span>
  </h1>
  <h2>alojamiento instantáneo de archivos y texto plano</h2>
  <div class="sakilogo">
    <img src="/static/saki.png">
  </div>
  <div class="uploader">
    <h2>404> El archivo no existe en el servidor</h2>
    <p>
      <a href="/">Volver</a>
    </p>
  </div>
  <hr>
  <p>
    Neosaki <b>v{{.Version}}</b> •
    <a href="https://github.com/nshebang/neosaki" target="_blank">
      GitHub
    </a>
  </p>
</body>
</html>
